body{
		/*background-color:rgb(10,100,155);*/
		background-image:url('../picture/1.jpg');
		background-repeat:no-repeat;
	}
	.div1{
		color:black;
		font-size:2cm;
		font-family:"黑体";
		text-align:center;
		padding: 100px 0px;
	}
	input{
		background-color:rgb(200,200,0);
		font-size:25px;
		border-bottom:0px;
		border-right:0px;
		margin:0px 30px;
		text-align:center;
	}
	.div2{
		width:300px;
		height:100px;
		/*border:3px dashed red;*/
		text-align:center;
		margin-top:35px;
		padding-top:25px;
	}